html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.modal-header {
    background: url("/images/modal-header.png") no-repeat top right;
    background-size: cover;
    height: 70px;
    background-color: transparent !important;
    border-bottom: unset;
}

.type-dropdown button, .type-dropdown .dropdown-menu {
    width: 100% !important;
}

.btn {
    color: #272727 !important;
    font-weight: bold;
}

.error-message {
    color: darkred;
    font-weight: bold;
}

.text-muted {
    font-size: 16px;
    font-weight: bold;
}

.results label {
    font-size: 16px;
    color: #272727;
}

.modal-content {
    background-color: transparent;
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset;
    -o-box-shadow: unset;
    box-shadow: unset !important;
    border: unset !important;
}

.modal-body {
    background-color: white;
    padding-top: 0px;
}

.black-container {
    background-color: #272727;
    height: 40px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.dice-img {
    margin-left: 15px;
}

.close-img {
    position: absolute;
    right: 17px;
    cursor: pointer;
}

.modal-title {
    color: white;
    font-weight: bold;
}

.value {
    color: #272727;
    font-weight: bold;
}